In [20]:
!ls

README.md	 Untitled2.ipynb  anomalies.png       les2-traces.ipynb
Untitled.ipynb	 animation1.gif   grapes.rda	      les3-darts.ipynb
Untitled1.ipynb  animation2.gif   les1-anomaly.ipynb  tssmoothie.ipynb

In [21]:
import pyreadr

result = pyreadr.read_r('grapes.rda')

# done! let's see what we got
print(result.keys()) # let's check what objects we got
df1 = result["df1"] # extract the pandas data frame for object df1

LibrdataError: Invalid file, or file has unsupported features

In [17]:
import feather

ModuleNotFoundError: No module named 'feather'

In [22]:
import rpy2.robjects as robjects
from rpy2.robjects import r, pandas2ri

pandas2ri.activate()
df = robjects.r.load("grapes.rda")

In [39]:
import pandas as pd
url = "ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_weekly_mlo.txt"
names = ["year", "month", "day", "year_decimal", "co2", "days", "1 yr ago", 
          "10 yr ago", "since 1800"]
maunaloa = pd.read_csv(url, skiprows=49, header=None, delim_whitespace=True,
                       names=names, na_values=[-999.99])
maunaloa.head()

,year,month,day,year_decimal,co2,days,1 yr ago,10 yr ago,since 1800
0,1974,5,19,1974.3795,333.37,5,NaN,NaN,50.40
1,1974,5,26,1974.3986,332.95,6,NaN,NaN,50.06
2,1974,6,2,1974.4178,332.35,5,NaN,NaN,49.60
3,1974,6,9,1974.4370,332.20,7,NaN,NaN,49.65
4,1974,6,16,1974.4562,332.37,7,NaN,NaN,50.06

In [40]:
r['grapes']

<rpy2.robjects.vectors.ListVector object at 0x7f5fccf2f780> [RTYPES.VECSXP]
R classes: ('uts_vector', 'uts_virtual')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV...]
<rpy2.robjects.vectors.ListVector object at 0x7f5fccf2f780> [RTYPES.VECSXP]
R classes: ('uts_vector', 'uts_virtual')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV...]
<rpy2.robjects.vectors.ListVector object at 0x7f5fccf2f780> [RTYPES.VECSXP]
R classes: ('uts_vector', 'uts_virtual')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV...]
<rpy2.robjects.vectors.ListVector object at 0x7f5fccf2f780> [RTYPES.VECSXP]
R classes: ('uts_vector', 'uts_virtual')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV...]
<rpy2.robjects.vectors.ListVector object at 0x7f5fccf2f780> [RTYPES.VECSXP]
R classes: ('uts_vector', 'uts_virtual')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV...]
...
<rpy2.robjects.vectors.ListVector object at 0x7f5fccf2f780> [RTYPES.VECSXP]
R classes: ('uts_vector', 'uts_virtual')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV...]
<rpy2.robjects.vectors.ListVector object at 0x7f5fccf2f780> [RTYPES.VECSXP]
R classes: ('uts_vector', 'uts_virtual')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV...]
<rpy2.robjects.vectors.ListVector object at 0x7f5fccf2f780> [RTYPES.VECSXP]
R classes: ('uts_vector', 'uts_virtual')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV...]
<rpy2.robjects.vectors.ListVector object at 0x7f5fccf2f780> [RTYPES.VECSXP]
R classes: ('uts_vector', 'uts_virtual')
[ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV..., ..., ListSexpV..., ListSexpV..., ListSexpV..., ListSexpV...]

In [28]:
r.data('iris')

<rpy2.robjects.vectors.StrVector object at 0x7f5fcd40ccc0> [RTYPES.STRSXP]
R classes: ('character',)
['iris']

In [29]:
r['iris'].head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [6]:
import sys
import glob

from datetime import datetime, timedelta

import traces
from traces.utils import datetime_range

In [10]:
def parse_iso_datetime(value):
    return datetime.strptime(value, "%Y-%m-%dT%H:%M:%S")


def read_all(pattern='data/lightbulb-*.csv'):
    """Read all of the CSVs in a directory matching the filename pattern
    as TimeSeries.

    """
    result = []
    for filename in glob.iglob(pattern):
        print('reading', filename, file=sys.stderr)
        ts = traces.TimeSeries.from_csv(
            filename,
            time_column=0,
            time_transform=parse_iso_datetime,
            value_column=1,
            value_transform=int,
            default=0,
        )
        ts.compact()
        result.append(ts)
    return result


ts_list = read_all()

In [11]:
ts_list

[]

In [8]:
time_series = traces.TimeSeries()
time_series[datetime(2042, 2, 1,  6,  0,  0)] = 0 #  6:00:00am
time_series[datetime(2042, 2, 1,  7, 45, 56)] = 1 #  7:45:56am
time_series[datetime(2042, 2, 1,  8, 51, 42)] = 0 #  8:51:42am
time_series[datetime(2042, 2, 1, 12,  3, 56)] = 1 # 12:03:56am
time_series[datetime(2042, 2, 1, 12,  7, 13)] = 0 # 12:07:13am

In [9]:
time_series

<TimeSeries>
{datetime.datetime(2042, 2, 1, 6, 0): 0,
 datetime.datetime(2042, 2, 1, 7, 45, 56): 1,
 datetime.datetime(2042, 2, 1, 8, 51, 42): 0,
 datetime.datetime(2042, 2, 1, 12, 3, 56): 1,
 datetime.datetime(2042, 2, 1, 12, 7, 13): 0}
</TimeSeries>

In [4]:
time_series[datetime.datetime(2042, 2, 1, 11,  0, 0)] # 11:00am

0

# Distribution

The `distribution` function gives you the fraction of time that the `TimeSeries` is in each state.

In [5]:
time_series.distribution(start=datetime.datetime(2042, 2, 1,  6,  0,  0), # 6:00am
                         end  =datetime.datetime(2042, 2, 1,  13,  0,  0))   # 1:00pm

Histogram({0: 0.8355952380952381, 1: 0.16440476190476191})

The light was on about 16% of the time between 6am and 1pm.

In [ ]:



def parse_iso_datetime(value):
    return datetime.strptime(value, "%Y-%m-%dT%H:%M:%S")


def read_all(pattern='data/lightbulb-*.csv'):
    """Read all of the CSVs in a directory matching the filename pattern
    as TimeSeries.

    """
    result = []
    for filename in glob.iglob(pattern):
        print('reading', filename, file=sys.stderr)
        ts = traces.TimeSeries.from_csv(
            filename,
            time_column=0,
            time_transform=parse_iso_datetime,
            value_column=1,
            value_transform=int,
            default=0,
        )
        ts.compact()
        result.append(ts)
    return result


ts_list = read_all()

total_watts = traces.TimeSeries.merge(ts_list, operation=sum)

# use distribution to look at the distribution of number of lights on
# over a month
histogram = total_watts.distribution(
    start=datetime(2016, 1, 1),
    end=datetime(2016, 2, 1),
)
print(histogram.mean())

# use distribution with mask to look at the median/lower/upper of
# lights on by hour of day, plot with your tool of choice
for hour, distribution in total_watts.distribution_by_hour_of_day():
    print(hour, distribution.quantiles([0.25, 0.5, 0.75]))

for day, distribution in total_watts.distribution_by_day_of_week():
    print(day, distribution.quantiles([0.25, 0.5, 0.75]))

# look at the typical number of lights on during business hours
# (8am-6pm) for each day in january
for t in datetime_range(datetime(2016, 1, 1), datetime(2016, 2, 1), 'days'):
    biz_start = t + timedelta(hours=8)
    biz_end = t + timedelta(hours=18)
    histogram = total_watts.distribution(start=biz_start, end=biz_end)
    print(t, histogram.quantiles([0.25, 0.5, 0.75]))

# transform time series to evenly spaced version using moving average
# instead of just sampling to avoid aliasing, and proceed to use
# statsmodels/pandas to forecast electricity usage "Modeling Time
# Series" http://tomaugspurger.github.io/modern-7-timeseries.html, in
# the Jupyter notebook it's `In [17]`.
regular = total_watts.moving_average(300, pandas=True)
print(regular)